<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta description="Work and CV of Krista Neumann, Epidemiologist">
	                <meta name="viewport" content="width=device-width, initial-scale=1"> 
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<section class="page-header"> 
			<nav>
	    		       <img class="navbar-logo" src="http://kristaneumann.github.io/KN_logo_notext.jpg" alt="KN-logo" hspace=5 width="10%" style="float:left;"/>
	        		<a href="/" style="color: #077EBE; margin: 0 20px;">Home</a>
				<a href="/cv" style="color: #077EBE; margin: 0 20px;">CV</a>
				<a href="/research" style="color: #077EBE; margin: 0 20px;">Research</a>
				<a href="/teaching" style="color: #077EBE; margin: 0 20px;">Teaching</a>
				<a href="/contact" style="color: #077EBE; margin: 0 20px;">Contact</a>
				
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="https://kristaneumann.github.io/">https://kristaneumann.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
