<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<img class="navbar-logo" src="/_layouts/KN_logo_notext.jpg" alt="KN" hspace=20 width="10%" style="float:left;"/>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/contact">Contact</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="https://kristaneumann.github.io/">https://kristaneumann.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
