<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta description="Work and CV of Krista Neumann, Epidemiologist">
	                <meta name="viewport" content="width=device-width, initial-scale=1"> 
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<section class="page-header"> 
		
			<nav>
			<ul>
				
	    		       <img class="navbar-logo" src="http://kristaneumann.github.io/KN_logo_notext.jpg" alt="KN-logo" hspace=5 width="10%" style="float:left;"/>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/cv">CV</a></li>
	        		<li><a href="/research">Research</a></li>
				<li><a href="/teaching">Teaching</a></li>
	        		<li><a href="/contact">Contact</a></li>
			</ul>	
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
	        		<li><a href="https://kristaneumann.github.io/">https://kristaneumann.github.io/</a></li>
				</ul>
			</footer>
		</body>
	</html>
